$primary-color: #FF0049;
$secondary-color: #002B45; 
$terciary-color: #FFF1E5;
$fourth-color: #002b44;
$five-color: #758f9b;

$white: #FFFFFF;
$black: #000000;

$border-color: rgb(226, 226, 226);

.center-items {

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

/* .container{ 
    width: 80%; 
    margin-right: 15%;
    margin-left: 15%;
    display: flex; 

    &-footer{
        justify-content: space-between;
        .right{justify-content: flex-end}
    }
} */

.section-footer{
    border-top: 2px solid $border-color;
    padding-top: 15px;
    padding-bottom: 15px;
/*     width: 100%; */
    display: flex; 
    justify-content: space-between;
    .right{justify-content: flex-end}

    button{
        font-size: 14px;
        border: 0;
        border-radius: 3px;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        height: 44px;
        line-height: 44px;
        min-width: initial;
        opacity: 1;
        outline: none;
        padding: 0 15px;
        position: relative;
        text-align: center;
        text-decoration: none;
        }
}

.section-info{
    display: block;
}

input{

    display: block;
    font-size: 14px;
    border: 1px solid #ccd5da;
    border-radius: 2px;
    color: #002b45;
    line-height: normal;
    outline: none;
    padding: 8px;
/*     .input-master-password{

    } */

}

label {
    margin-bottom:30px;
}


.row{
    margin: 0!important;
}

.input-master-forget-clue{
    width: 90%;
    box-sizing: border-box;
}

.error-input{
    color: red;
    font-weight: bold;
    width:60%;
}