@import "styles/base";

.App {

  background-color: #ffffff;
  margin: 0.8rem;
  border-left: 1px solid rgb(226, 226, 226);
  border-right: 1px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);

  -webkit-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.69);
  -moz-box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.69);
  box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.69);
/*   height: 95vh; */

  &-header{
    background-color:#cbd5da;
    height: 80px;
    &-logo{
     max-width: 80px;
    }
    .step {
/*       height: 15px;
      width: 15px; */
      padding: 12px 20px;
      background-color: $fourth-color;
      color: $white;
      border: none;  
      border-radius: 50%;
      display: inline-block;
    }
    .step-hr{
      border: 2px solid $five-color;
      border-radius: 5px;
      width: 100%;
    }
    .step-container{
      width: 100%;
      max-width: 35%;
    }
  }





        h1{
          font-size:1.4em
        }

        .title-hr{
          border-top: 2px solid #00c3dd;
          border-radius: 5px;
          width: 15%;
          margin:0;
        }
    
      

          img{
            width: 100%;
            display: block;
            box-sizing: border-box;
            max-width: 280px;
            margin-left: auto;
            margin-right: auto;
        }

        .col-description{
          margin-left:5%;
          margin-right:5%;
        }
          
    
    h3{
      color: $primary-color;
    }
    p{
      color: $secondary-color;
    }

  }



    .button-next{
      background-color: $fourth-color;
      float: right;
      margin-right: 10%;
    }

    @media (max-width: 575.98px) {
      .step-container{
        max-width: 75%!important;
      }
      .App-main-description{
        display: block;
        margin-left:auto;
        margin-right:auto;
      }
    }


/* 
@media (max-width: 1199.98px) {
  .container{    
  margin-right: 9%;
  margin-left: 9%;
  width: 95%!important;
}
} 
@media (max-width: 991.98px) { 
  .container{    
    margin-right: 9%;
    margin-left: 9%;
    width: 80%!important;
  }
}

@media (max-width: 767.98px) {   
  .container{    
  margin-right: 0%;
  margin-left: 0%;
  width:100%!important;
  &-fotter{
    padding:0;
  }
} 
.App-main-description{
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.col{
  width:100%;
}
}

  @media (max-width: 575.98px) {   

    .container{    
      margin-right: 0%;
      margin-left: 0%;
      width:100%!important;
      &-fotter{
        padding:0px;
      }
    } 
  
    .step-container{
      max-width: 75%;
    }
    .App-main-description{
      display: block;
      margin-left:auto;
      margin-right:auto;
    }
    .col{
      width:100%;
    }
  } */







