/* html {
  height: 100%;
} */

body {
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

  background: #e2e9e9; /* Old browsers */
  background: -moz-linear-gradient(top,  #e2e9e9 0%, #e2e9e9 20%, #207cca 20%, #207cca 20%, #207cca 20%, #207cca 20%, #207cca 20%, #2989d8 20%, #2989d8 20%, #ffffff 20%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #e2e9e9 0%,#e2e9e9 20%,#207cca 20%,#207cca 20%,#207cca 20%,#207cca 20%,#207cca 20%,#2989d8 20%,#2989d8 20%,#ffffff 20%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #e2e9e9 0%,#e2e9e9 20%,#207cca 20%,#207cca 20%,#207cca 20%,#207cca 20%,#207cca 20%,#2989d8 20%,#2989d8 20%,#ffffff 20%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e9e9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

/*   height: 100%!important; */
  background-repeat: no-repeat;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tosBox { text-align: justify!important; height: 300px; overflow-y: scroll;}
#swal2-checkbox {zoom: 1.4;}
.swal2-label { font-weight: bolder;}
.swal2-confirm{background-color: #002b44!important;}